body{
    background-color:rgba(201, 103, 231, 0.63);
    font-family: 'Lobster', cursive;
}
h1{
    background-color: rgba(165, 19, 209, 0.8)
    font-family: 
}
h2{
    background-color: rgba(165, 19, 209, 0.8)
}

